---
name: "HCL AppScan CodeSweep"
on:
  pull_request:
    types: [ opened, synchronize ]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2.1
    env: 
<<<<<<< HEAD
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
=======
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
>>>>>>> f5612fcd01c42c69aef9b22c6583a744ace04cdd
